<h1 class="text-center">ユーザー詳細</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
    <h4><%= @user.name %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(h @user.email) %></p>
    <p class="card-text"><%= simple_format(h @user.age) %></p>
  </div>
</section>
