<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert">X</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>
